.searchbar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    border: 1px solid #e8e8e8;
    background-color: white;
    margin: 1rem 0;
}

.searchbar-input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.searchbar-input::placeholder {
    color: #aaa;
}

.clear-button {
    position: absolute;
    right: 1rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    color: #666;
    cursor: pointer;
}

.clear-button:hover {
    color: #000;
}